server:
  port: 8080

logging:
  level:
    ru.practicum: info
    org:
      springframework:
        orm:
          jpa: INFO
          jpa.JpaTransactionManager: DEBUG
        transaction: INFO
        transaction.interceptor: TRACE
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ewm
    driver-class-name: org.postgresql.Driver
    username: ewm
    password: ewm

  sql:
    init:
      mode: always
  jpa:
#    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
#        format_sql: true
#        time_zone: UTC
#        default_schema: public

stats-server:
  url: http://localhost:9090