spring:
  application:
    name: stats-server
  config:
    import: "configserver:"
  cloud:
    config:
      fail-fast: true
      discovery:
        enabled: true
        service-id: config-server


server:
  port: 0
