management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true

spring:
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/admin/users/**
        - id: event-service
          uri: lb://event-service
          predicates:
            - Path=/users/{userId}/events/**, /admin/events/**, /events/**
        - id: request-service
          uri: lb://request-service
          predicates:
            - Path=/users/{userId}/requests/**
        - id: category-service
          uri: lb://category-service
          predicates:
            - Path=/admin/categories/**, /categories/**
        - id: compilation-service
          uri: lb://compilation-service
          predicates:
            - Path=/compilations/**, /admin/compilations/**
