server:
  port: 4405

spring:
  datasource:

    url: jdbc:h2:mem:stats;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:


  sql:
    init:
      mode: always
  jpa:
    #    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
#        format_sql: true
#        time_zone: UTC
#        default_schema: public

logging:
  level:
    org:
      springframework:
        orm:
          jpa: INFO
          jpa.JpaTransactionManager: DEBUG
        transaction: INFO
        transaction.interceptor: TRACE
